
*{
color: #392F5A;
}
body{
    margin: 20px;
    background-color: #FFF8F0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    padding: 40px;
    text-align: center;
}

h1{
    color: #FF8811;
}
h3{
    padding: 20px;
    text-align: center; 
}
nav{
    padding: 5px;
    border-radius: 25px;
    display: flex;
    background-color: #9DD9D2;
}

nav a{
    border-radius: 25px;
    padding: 14px 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #9DD9D2;

}

a:hover{
color:#FF8811;
}


.aboutme{
    margin-top: 15px;
    border-radius: 25px;
    background-color: #F4D06F;
    padding:10px;

}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
}
.portrait{
    width: 30%;
}

.portrait img{
    border-radius: 360px;
    border-width: 7px;
    border-style: solid;
    border-color: #FF8811;
}

.bio{
    width: 60%;
}
.aboutme h2{
text-align: center;
padding: 5px;
border-radius: 25px;

}
#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:15px;
}

.sidebar{
    padding-top: 20px;
    width: 15%
}

.panels{
    width:85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectNew {
    width: 100%;
    background-color: #9DD9D2;
    border-radius: 25px;
    margin-bottom: 15px;
}

.project1 {
    width: 100%;
    background-color: #9DD9D2;
    border-radius: 25px;
}

.smPanels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%; 
}
.project2,
.project3 {
    margin-top: 3%;
    width: 48.5%;
    background-color: #9DD9D2;
    border-radius: 25px;
}

img {
    width: 85%;
    border-radius: 25px;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

}

footer {
margin-top: 15px;
border-style: solid;
border-width: 4px;
border-radius: 25px;
border-color: #9DD9D2;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 25px;
}

.contactform{
    width: 50%
}
.contactform form{
    display: none;
}

footer ul{
    width: 50%;
    padding-left: 25px;
    list-style-type: none;
}

footer h3{
    width: 100%;
    text-align: left;
    color: #FF8811
}

footer h4{
    text-align: left;
    color:#9DD9D2;
}

footer h4:hover{
cursor: pointer;
}

.contactform:hover form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    min-height:200px;
    max-width: 400px;
    cursor: pointer;
}

input[type=submit]{
background-color: #392F5A;
border: none;
border-radius: 25px;
color: #FFF8F0;
font-weight: bold;
font-size: medium;
height: 25px;
margin: 10px;
}

input[type=submit]:hover{
    background-color: #9DD9D2;
    border: none;
    border-radius: 25px;
    font-size: medium;
    height: 25px;
    margin: 10px;
    }
@media screen and (max-width: 768px){
.project2,
.project3{
    width: 100%;
    min-height: 100px;
}
.sidebar{
    padding-top: 20px;
    padding-bottom:15px;
    width: 100%
}
}