
*{
border-width: 2px;
border-style: solid;
border-color: darkblue;
}
body{
    margin: 20px;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    background-color:bisque;
    padding: 40px;
    text-align: center;
}
nav{
    display: flex;
    background-color: powderblue;
}

nav a{
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

h1 {
    background-color: aqua;
    border-width: 2px;
    border-color: darkblue;
}


.aboutme{
    padding:10px;
    background-color:chartreuse;
    border-width: 2px;
    border-color: darkblue;
}

#projects{
    padding:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color:coral; }

.project1 {
    width: 90%;
    min-height: 200px 
}

.project2,
.project3 {
    width: 45%;
    min-height: 100px;
}

img {
    width: 100%;
}

.contactform form{
    display: none;
}

.contactform:hover form{
    display: flex;
    flex-direction: column;
    min-height:200px;
    max-width: 400px;
}


@media screen and (max-width: 768px){
.project2,
.project3{
    width: 90%;
    min-height: 100px;
}
}